*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    }


.header {
   
    display: flex;
    justify-content: space-evenly;
    width: 100vw;
    position: absolute;
    top: 0;
    padding: 1rem;
    background-color: white;
}

.head-main{
   
}

.head-desc{
   
}

.save-list{
   
  
}



.color {
    
    display: flex;
    flex-direction: column;
    
    width: 20vw;
   height: 100vh;
   justify-content: center;
    align-items:center;
}

.color:hover .option-list {
   
    transition: all .1s ease-in-out;
    opacity: 1;
}

.color:hover .fa{
    background-color:rgba(255,255,255,.3)
}
.content {
   height: 3em;
  
justify-content: center;
align-items: end;
}

.hexcode{
    position: relative;
    padding: 5px;
    border-radius: 5px;
   
   
    cursor: pointer;
    overflow:scroll;
}

.hexcode:hover {
    
    background-color:rgba(255,255,255,.5)
}

#copy-btn {
   cursor: pointer;
}

.option-list {
   
    
    opacity: 0;
    margin-bottom: 15px;
}

.option-list li{
    list-style: none;
}

.fa {
 cursor: pointer;  
display: block;
padding: 10px;
margin: 2px;
border-radius: 10px;


}



.copy-popup {
    transition: all 1s ease-in-out;
    position: absolute;
    bottom:2rem;
 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    background-color: white;
    border: 1px solid black;
    width: 300px;
    padding: 1rem;
    border-radius: 100px;
    text-align: center;
    display: none;
   
}

.save-popup {
   
    width: 500px;
}


.color-picker{
  position: absolute;
  top:61%;
   display: none;
   height: auto;
    background-color: white;
    border: 1px solid #A4A4A4;
    border-radius: 10px;
   padding: 10px;
}


.color-picker label {
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

.color-picker input {
    cursor: pointer;
    display: block;
    width: 200px;
    height: 70px;
    margin-bottom: 10px;
}

.color-picker button {
    cursor: pointer;
    width: 200px;
    padding: 5px;
}

@media (max-width:768px) {
.container{
   flex-direction: column;
}

.header {
    position:relative;
    
}
.color {
    flex-direction: row-reverse;
    width: 100vw;
    height: 17vh;
   
}
.content {

   margin-left: 2rem;
    
    height: auto;
    
    justify-content: left;
    align-items:left;
    width: 70%;

}

.hexcode {
    display: inline-block;
    position: relative;
}


.option-list {
    width: 30%;
    justify-content: right;
    align-items:right;
}

li {
    float: left;
}

.color-picker {
   display: none;
    
}
}


