*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    }


.header {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100vw;
    position: absolute;
    top: 0;
    padding: 1rem;
    background-color: white;
}



.color {
    cursor: pointer;
    display: flex;
    flex-direction: column;
    
    width: 20vw;
   height: 100vh;
   justify-content: center;
    align-items:center;
}

.color:hover .option-list {
    transition: all .1s ease-in-out;
    opacity: 1;
}

.content {

height: 30vh;
display: flex;
justify-content: center;
align-items: end;
}

.option-list {
   
    border: 1px solid red;
    opacity: 0;
}

.option-list li{
    list-style: none;
}


@media (max-width:768px) {
.container{
   flex-direction: column;
}

.header {
    border: 1px solid yellow;
   
    position:relative;
    
}
.color {
    flex-direction: row-reverse;
    width: 100vw;
    height: 17vh;
    border: 1px solid black;
}
.content {
    height: 0;
    border: 1px solid red;
    justify-content: left;
    align-items:left;

}
.option-list {
    justify-content: right;
    align-items:right;
}
}


